/* ------fonts-----------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans:ital,wght@0,400;0,700;1,500&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/*---- heading-container style---- */
.heading-container {

    width: 1340px;
    height: 1200px;
    background: rgba(255, 144, 14, 0.1);
}

/* -------nav bar style------- */

.nav-bar {

    display: flex;
    align-items: center;
    justify-content: space-around;
}


.g3 {
    font-weight: 700;
    font-size: 45px;
}

.nav-item {
    list-style-type: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
    display: flex;
    gap: 50px;
}

/*------- heading style------- */

.heading {
    text-align: center;
}

.heading-title {
    font-weight: 700;
    font-size: 64px;

}

.heading-details {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;

}

.explore-btn {
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border: none;
    margin-bottom: 30px;
}

.banner {
    width: 1140px;
    height: 600px;
    border-radius: 8px;

}

/* -----feature-container style---- */
.feature-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}

.team {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: 100px;
    border-radius: 8px;
    margin-top: 0px;


}

.team img {
    height: 270px;
    width: 270px;
}

.quick {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}

.features {
    font-weight: 700;
    font-size: 45px;
    color: #FF900E;
}

.feature-details {
    padding-top: 0px;
    margin-right: 100px;
}

/* -------love and enjoy style */
.love-enjoy-container {
    display: flex;
    margin-left: 100px;
    margin-top: 100px;

}

.love-left-container {
    padding-right: 54px;
    height: 850px;
}

.love-enjoy-description {
    width: 500px;
}

#love-heading {
    border-left: 5px solid #FF900E;
    padding-left: 10px;
}

.love-paragraph-heading {
    font-weight: 600;
    font-size: 20px;
}

.love-details {
    width: 500px;
    padding: 2px 5px 2px 15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin-bottom: 10px;
}

.love-enjoy-container img {
    width: 662px;
    height: 900px;
}

.experience-btn {
    width: 250px;
    height: 150px;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
    border: none;
}

#experience {
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
    padding-top: 0;
}